<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>胡编生成器</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <style>
        [v-cloak] {
  display: none;
}
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box">
                <div class="field">
                    <label class="label">评论的事件</label>
                    <div class="control">
                      <input class="input" type="text" v-model="event">
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">作者自称</label>
                    <div class="control">
                      <input class="input" type="text" v-model="author">
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">长度</label>
                    <div class="control">
                      <input class="input" type="text" v-model="length">
                    </div>
                  </div>
                </div>
            </div>
        
        </div>
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="card">
            <div class="card-content">
              {{ paragraph }}
            </div>
            <footer class="card-footer">
              <p class="card-footer-item" @click="generate">
                <span>
                  重新生成
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  复制
                </span>
              </p>
            </footer>
          </div>
            </div>
        </div>

        

      </div>
    <script src="./hu.js"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./main.js"></script>
</body>

</html>